<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: GPL-2.0

	Copyright (C) 2019-2026 WireGuard LLC. All Rights Reserved.
-->

<?if $(var.WIREGUARD_PLATFORM) = "amd64" Or $(var.WIREGUARD_PLATFORM) = "arm64"?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?else?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder"?>
<?endif?>
<?if $(var.WIREGUARD_PLATFORM) = "amd64"?>
	<?define UpgradeCode = "a9fd3e3c-7e5b-4d6d-9a6b-6d7f497ba1de"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "x86"?>
	<?define UpgradeCode = "f3d63bd7-03ea-4a31-9ef4-f2d7414c1c75"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "arm"?>
	<?define UpgradeCode = "24240e99-84f5-442f-9ec6-bf3c574ad8cc"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "arm64"?>
	<?define UpgradeCode = "e3b4a4e6-8070-4655-9d64-d0d4b098d2f1"?>
<?else?>
	<?error Unknown platform ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
		Name="TunnelMint Development"
		Language="1033"
		Version="$(var.WIREGUARD_VERSION)"
		Manufacturer="TunnelMint contributors"
		UpgradeCode="$(var.UpgradeCode)">
		<Package
			InstallerVersion="500"
			Compressed="yes"
			InstallScope="perMachine"
			Description="TunnelMint development VPN client"
			ReadOnly="yes" />

		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Icon Id="tunnelmint.ico" SourceFile="..\ui\icon\tunnelmint.ico" />
		<Binary Id="customactions.dll" SourceFile="$(var.WIREGUARD_PLATFORM)\customactions.dll" />

		<Property Id="ARPPRODUCTICON" Value="tunnelmint.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/neosmith20/TunnelMint" />
		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />

		<!--
			Upgrading
		-->
		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."
			Schedule="afterInstallExecute"
			IgnoreRemoveFailure="yes" />

		<!--
			Folders
		-->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="TunnelMintFolder" Name="TunnelMint" />
			</Directory>
			<Directory Id="ProgramMenuFolder" />
		</Directory>

		<!--
			Components
		-->
		<ComponentGroup Id="TunnelMintComponents">
			<Component Directory="TunnelMintFolder" Id="TunnelMintExecutable" Guid="0d4a3a8e-26f2-40e5-9a0e-f1ac70a0fc99">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\tunnelmint.exe" KeyPath="yes">
					<Shortcut Id="TunnelMintStartMenuShortcut" Directory="ProgramMenuFolder" Name="TunnelMint" Description="TunnelMint development VPN client" WorkingDirectory="TunnelMintFolder" Advertise="yes" />
				</File>
				<ServiceControl Id="DummyService.3AA0C492_29F4_4342_B608_DB95B2DECB13" Name="DummyService.3AA0C492_29F4_4342_B608_DB95B2DECB13" /><!-- A dummy to make WiX create ServiceControl table for us. -->
			</Component>
			<Component Directory="TunnelMintFolder" Id="TunnelMintWgExecutable" Guid="0f2e419a-d4f9-4ebc-8ebc-378f90e5d3e3">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\wg.exe" KeyPath="yes" />
				<Environment Id="PATH" Name="PATH" System="yes" Action="set" Part="last" Permanent="no" Value="[TunnelMintFolder]" />
			</Component>
		</ComponentGroup>

		<!--
			Features
		-->
		<Feature Id="TunnelMintFeature" Title="TunnelMint Development" Level="1">
			<ComponentGroupRef Id="TunnelMintComponents" />
		</Feature>

		<!--
			Abort early if running under old Windows
		-->
		<CustomAction Id="CheckWinVer" BinaryKey="customactions.dll" DllEntry="CheckWinVer" />
		<InstallExecuteSequence>
			<Custom Action="CheckWinVer" After="FindRelatedProducts">NOT REMOVE</Custom>
		</InstallExecuteSequence>

		<!--
			Abort early if running under Wow64
		-->
		<CustomAction Id="CheckWow64" BinaryKey="customactions.dll" DllEntry="CheckWow64" />
		<InstallExecuteSequence>
			<Custom Action="CheckWow64" After="FindRelatedProducts">NOT REMOVE</Custom>
		</InstallExecuteSequence>

		<!--
			Evaluate TunnelMint services and populate ServiceControl table
		-->
		<CustomAction Id="EvaluateTunnelMintServices" BinaryKey="customactions.dll" DllEntry="EvaluateTunnelMintServices" />
		<InstallExecuteSequence>
			<Custom Action="EvaluateTunnelMintServices" After="FindRelatedProducts" />
		</InstallExecuteSequence>

		<!--
			Launch tunnelmint.exe on product reconfiguration (starting same MSI again)
		-->
		<CustomAction Id="LaunchApplicationAndAbort" BinaryKey="customactions.dll" DllEntry="LaunchApplicationAndAbort" />
		<InstallExecuteSequence>
			<Custom Action="LaunchApplicationAndAbort" After="CostFinalize">ProductState=5 AND NOT REMOVE AND NOT DO_NOT_LAUNCH</Custom>
		</InstallExecuteSequence>

		<!--
			Evaluate TunnelMint components
		-->
		<CustomAction Id="EvaluateTunnelMintComponents" BinaryKey="customactions.dll" DllEntry="EvaluateTunnelMintComponents" />
		<InstallExecuteSequence>
			<Custom Action="EvaluateTunnelMintComponents" After="ProcessComponents" />
		</InstallExecuteSequence>

		<!--
			Kill lingering TunnelMint processes
		-->
		<CustomAction Id="KillTunnelMintProcesses" BinaryKey="customactions.dll" DllEntry="KillTunnelMintProcesses" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="KillTunnelMintProcesses" After="StopServices" />
		</InstallExecuteSequence>

		<!--
			Clear out our config folder on uninstall
		-->
		<CustomAction Id="RemoveConfigFolder" BinaryKey="customactions.dll" DllEntry="RemoveConfigFolder" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="RemoveConfigFolder" After="DeleteServices" />
		</InstallExecuteSequence>

		<!--
			Clear out our adapters on uninstall
		-->
		<CustomAction Id="RemoveAdapters" BinaryKey="customactions.dll" DllEntry="RemoveAdapters" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="RemoveAdapters" Before="RemoveFiles" />
		</InstallExecuteSequence>

		<!--
			Launch tunnelmint.exe after setup complete
		-->
		<CustomAction Id="LaunchApplication" HideTarget="yes" Impersonate="no" Execute="deferred" FileKey="tunnelmint.exe" ExeCommand="" Return="asyncNoWait" />
		<InstallExecuteSequence>
			<Custom Action="LaunchApplication" Before="InstallFinalize">(&amp;TunnelMintFeature = 3) AND NOT DO_NOT_LAUNCH</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>
